!
!------------------------------------------------------------------------------
! u r x v t

URxvt*geometry:         112x22
URxvt*font :           	xft:terminus:size=9
URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:     /usr/bin/dwb
URxvt.matcher.button:   1
URxvt.keysym.C-Delete:  perl:matcher:last
URxvt.keysym.M-Delete:  perl:matcher:list
URxvt.colorUL:          #468284

URxvt*scrollBar:        false
!URxvt*scrollstyle:    plain
!#URxvt*scrollBar_right:        true
!#URxvt*scrollColor:        #000000
!#URxvt.transparent:	true
!#URxvt.shading:	100

!!------------------------------------------------------------------------------
! c o l o r -  s e t t i n g s
!
!Choose a scheme!
!#define solarized_dark
!#define solarized_light
#define zenburn
!#define erosion

#ifdef solarized_dark
! Common
#define COLOR_3        #b58900
#define COLOR_9        #cb4b16
#define COLOR_1        #dc322f
#define COLOR_5       #d33682
#define COLOR_13        #6c71c4
#define COLOR_4         #268bd2
#define COLOR_6         #2aa198
#define COLOR_2         #859900
! Dark
#define COLOR_8        #002b36
#define COLOR_0        #073642
#define COLOR_10        #586e75
#define COLOR_11        #657b83
#define COLOR_12         #839496
#define COLOR_14         #93a1a1
#define COLOR_7         #eee8d5
#define COLOR_15         #fdf6e3
#define BACKGROUND     #002b36
#define FOREGROUND     #839496
#define FADE           #002b36
#define CURSOR         #93a1a1
#define POINTERBACK    #586e75
#define POINTERFORE    #93a1a1
#endif

#ifdef solarized_light
! Common
#define COLOR_3        #b58900
#define COLOR_9        #cb4b16
#define COLOR_1        #dc322f
#define COLOR_5       #d33682
#define COLOR_13        #6c71c4
#define COLOR_4         #268bd2
#define COLOR_6         #2aa198
#define COLOR_2         #859900
! Light
!#define COLOR_8        #fdf6e3
#define COLOR_8        #ffffd7
#define COLOR_0         #eee8d5
#define COLOR_10        #93a1a1
#define COLOR_11        #839496
#define COLOR_12         #657b83
#define COLOR_14         #586e75
#define COLOR_7          #073642
#define COLOR_15         #002b36
#define BACKGROUND     #ffffd7
#define FOREGROUND     #657b83
#define FADE           #fdf6e3
#define CURSOR         #586e75
#define POINTERBACK    #93a1a1
#define POINTERFORE   #586e75
#endif


#ifdef zenburn
!*color0:  #222222
!*color8:  #222222
#define COLOR_0  #222222
#define COLOR_8  #000000
#define COLOR_1  #9f6767
#define COLOR_9  #9f6767
#define COLOR_2  #92ac68
#define COLOR_10 #92ac68
#define COLOR_3  #d0d293
#define COLOR_11 #d0d293
#define COLOR_4  #9aacc3
#define COLOR_12 #9aacc3
#define COLOR_5  #bb77a4
#define COLOR_13 #bb77a4
#define COLOR_6  #77bbb5
#define COLOR_14 #77bbb5
#define COLOR_7  #777777
#define COLOR_15 #777777
#define FADE #000000
#define BACKGROUND #222222
#define FOREGROUND #777777
#define CURSOR #777777
#endif

#ifdef erosion
#define COLOR_0 #332d29
#define COLOR_8 #817267
#define COLOR_1 #8c644c
#define COLOR_9 #9f7155
#define COLOR_2  #746C48
#define COLOR_10 #8F8558
#define COLOR_3 #bfba92
#define COLOR_11 #E0DAAC
#define COLOR_4 #646a6d
#define COLOR_12 #777E82
!!urxvt*color5: #6d6871
!!urxvt*color13: #756f7b
#define COLOR_5 #766782
#define COLOR_13 #897796
!!urxvt*color6: #3b484a
!!urxvt*color14: #444d4e
#define COLOR_6 #4B5C5E
#define COLOR_14 #556D70
#define COLOR_7 #504339
#define COLOR_15 #9a875f
#define FADE #000000
#define BACKGROUND #181512
#define FOREGROUND #D6C3B6
!!#define *foreground: #ffdcc4
#define CURSOR #93a1a1
!#define *colorIT: #8c644c
!#define *colorUL: #646a6d
!#define *colorBD: #746C48
#endif

*background:              BACKGROUND
*foreground:              FOREGROUND
*fading:                  40
*fadeColor:               FADE
*cursorColor:             CURSOR
*pointerColorBackground:  POINTERBACK
*pointerColorForeground:  POINTERFORE
*color0:                  COLOR_0
*color1:                  COLOR_1
*color2:                  COLOR_2
*color3:                  COLOR_3
*color4:                  COLOR_4
*color5:                  COLOR_5
*color6:                  COLOR_6
*color7:                  COLOR_7
*color8:                  COLOR_8
*color9:                  COLOR_9
*color10:                 COLOR_10
*color11:                 COLOR_11
*color12:                 COLOR_12
*color13:                 COLOR_13
*color14:                 COLOR_14
*color15:                 COLOR_15


